<%- include ../partials/header.ejs %>
<div class="navigation">
		<nav>
			<a href="/users/:id">Profile</a>
			<!-- user show page -->
			<a href="/experiences">Experiences</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

<form id ="new-eperience" action="/experiences/<%=experience._id%>?_method=PUT" method="post">
	Title: <input type="text" name="title" value="<%=experience.title%>"><br>
	<textarea name="body" form="new-eperience"><%=experience.body%></textarea><br>
	<button>Update my experience</button>
</form>

<form action="/experiences/<%=experience._id%>?_method=DELETE" method="post">
	<button>Delete Experience</button>
	
</form>

<%- include ../partials/footer.ejs %>