<%- include ../partials/header.ejs %>
	<div class="navigation">
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">Experiences</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<a href="/experiences/map">Map</a>
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div class="userExpIndexBox">
		<div class="indexTitle">
			<h2>All experiences</h2>
		</div>
		<div class="experiencesList">
			<ul>
				<%for(let i =0; i < experiences.length; i++) {%>
					<li>
						<a href="/experiences/<%=experiences[i]._id%>">
							<%=experiences[i].title%>
						</a>
						<a href="/experiences/<%=experiences[i]._id%>">
							<img src="/experiences/<%=experiences[i]._id%>/photo" height="100px">
						</a>
					</li>
				<%}%>
			</ul>
		</div>
		<br>
	</div>

<%- include ../partials/footer.ejs %>