<%- include ../partials/header.ejs %>
<div class="navigation">
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">Experiences</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<!-- <a href="/experiences/map">Map</a> -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>
	<div class="newExpContainer">
	<h1>Add a new experience</h1>
		<h3><%=createMessage%></h3>
		<form id="new-experience" action="/experiences" method="post" enctype="multipart/form-data">
			Title: <input type="text" name="title" maxlength="22" placeholder="Enter title"><br>
			Image:<input type="file" name="img"><br>
			<textarea name="body" placeholder="Tell us about your experience" form="new-experience"></textarea><br>
			<input id="lat" type="hidden" name="lat">
			<input id="lng" type="hidden" name="lng">
			<button>Add to my experiences</button>

		</form>
		<div id="map">
		</div>
	</div>

	<script>
		let map, infoWindow;
      	function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.8781, lng: -87.6231},
          zoom: 18
        });
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('You are here.');
            infoWindow.open(map);
            map.setCenter(pos);
            let marker = new google.maps.Marker({position: pos, map: map});
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
		
    </script>


	 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&callback=initMap" type="text/javascript"></script>
	<script>
		navigator.geolocation.getCurrentPosition((position) => {
			const longitude = position.coords.longitude;
			const latitude = position.coords.latitude;
			console.log("lat, lng");
			console.log(latitude, longitude);
			document.getElementById('lat').value = latitude
			document.getElementById('lng').value = longitude
			console.log(document.getElementById('new-experience'));
		})
	</script>
</body>
</html>
	</div>	
		<script>
			// get current position -- async 
			// use DOM manipulation to insert that into the form element 
			navigator.geolocation.getCurrentPosition((position) => {
				console.log(position.coords.latitude, position.coords.longitude);
				const longitude = position.coords.longitude;
				const latitude = position.coords.latitude;
			})
		</script>
<%- include ../partials/footer.ejs %>

