<%- include ../partials/header.ejs %>

<h1><%=experience.title%></h1>
<img src="/experiences/<%=experience._id%>/photo" height="100px"><br>
<%=experience.date.toDateString()%><br>
<%=experience.body%>

<%- include ../partials/footer.ejs %>