<%- include ../partials/header.ejs %>

<div class="navigation">
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">MyChicago Gallery</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<!-- <a href="/experiences/map">Map</a> -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

	<div class="showContainer">
		<h1><%=experience.title%></h1>
		<img src="/experiences/<%=experience._id%>/photo" height="400px"><br>
		<h2>By: <%=user.owner.username%></h2>
		<p><%=experience.date.toDateString()%></p>
		<p id="bodyText"><%=experience.body%></p>
		
    <div id="map">
		</div>

	</div>
<br>

<script>
		let map, infoWindow;
      	function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 41.8781, lng: -87.6231},
          zoom: 18
        });
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let pos = {
              lat: <%=experience.lat%>,
              lng: <%=experience.lng%>
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('<%=experience.title%>');
            infoWindow.open(map);
            map.setCenter(pos);
            let marker = new google.maps.Marker({position: pos, map: map});
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
		
    </script>


	 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&callback=initMap" type="text/javascript"></script>


<a href="/experiences/<%=experience._id%>/edit">Edit/Delete</a>
</div>
<h3><%=editMessage%></h3>

<%- include ../partials/footer.ejs %>