<%- include ../partials/header.ejs %>

  <div class="navigation">
    <span>Welcome <%=currentUser%>!</span>
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">MyChicago Gallery</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<!-- <a href="/experiences/map">Map</a> -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

	<div class="showContainer">
    <div class="img-box">
      <img src="/experiences/<%=experience._id%>/photo"><br>
    </div>
		<div class="post-details-showpage">
      <div class="details-text">
        <p><%=experience.title%></p>
        <p>By: <%=user.owner.username%> / <%=experience.date.toDateString()%></p>
        <p><%=experience.body%></p>
	   </div>
    </div>
  </div>

     <%if(experience.lat === null) {%>
      <div class="alert-location">
        <p class="alert">"Sorry, we were not able to access the location for your post."</p>
      </div>

    <%}else if(experience.lat !== null) {%>
      <div class="map-box">
        <div id="map-showpage">
    		</div>
      </div>

    <%}%>
   
  <div class="edit-delete-link-showpage">
    <a href="/experiences/<%=experience._id%>/edit">Edit/Delete</a>
    <br>
    <span class="alert"><%=editMessage%></span>
  </div>
  <br>

  <script>
  		let map, infoWindow;
        	function initMap() {
          map = new google.maps.Map(document.getElementById('map-showpage'), {
            center: {lat: 41.8781, lng: -87.6231},
            zoom: 18
          });
          infoWindow = new google.maps.InfoWindow;
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              let pos = {
                lat: <%=experience.lat%>,
                lng: <%=experience.lng%>
              };

              infoWindow.setPosition(pos);
              infoWindow.setContent('<%=experience.title%>');
              infoWindow.open(map);
              map.setCenter(pos);
              let marker = new google.maps.Marker({position: pos, map: map});
            }, function() {
              handleLocationError(true, infoWindow, map.getCenter());
            });
          } else {
            handleLocationError(false, infoWindow, map.getCenter());
          }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        }
  		
      </script>


	 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&callback=initMap" type="text/javascript"></script>

<%- include ../partials/footer.ejs %>