<%- include ../partials/header.ejs %>
	<div class="navigation">
		<span>Welcome <%=currentUser%>!</span>
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">MyChicago Gallery</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<!-- <a href="/experiences/map">Map</a> -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>
	<div class="userExpIndexBox">
		<div class="indexTitle">
			<h2>All Users</h2>
		</div>
		<div class="usersList">
		<ul class="usersUl">
			<%for(let i =0; i < users.length; i++){%>
				<li class="usersLi">
					<a href="/users/<%=users[i]._id%>">
						<%=users[i].username%>
					</a>
				</li>

			<%}%>
		</ul>
		</div>
	</div>
<%- include ../partials/footer.ejs %>