<%- include ../partials/header.ejs %>
<div class="navigation">
	<span>Welcome <%=currentUser%>!</span>
		<nav>
			<a href="/users/<%=userProfile%>">Profile</a>
			<!-- user show page -->
			<a href="/experiences">MyChicago Gallery</a>
			<!-- experiences index-->
			<a href="/users">Users</a>
			<!-- users index -->
			<!-- <a href="/experiences/map">Map</a> -->
			<a href="/auth/logout">Log Out</a>
		</nav>
	</div>

<!-- <h1><%=user.username%></h1> -->
	<div class="userExpIndexBox">
		<div class="indexTitle">
			<h2><%=user.username%> Gallery</h2>

			<%if (currentUser == user.username){%>
			<a href="/experiences/new">Add a new experience!</a>
			<%}%>

		</div>
		<div class="experiencesList">
			<ul>
				<% for(let i = 0; i<user.experience.length; i++){%>
					<li>
						<a href="/experiences/<%=user.experience[i]._id%>"><%=user.experience[i].title%>		
						</a>
						<a href="/experiences/<%=user.experience[i]._id%>">
							<img class="aExpImg" src="/experiences/<%=user.experience[i]._id%>/photo" height="100px">
						</a>
					</li>
				<%}%>
			</ul>
		</div>
	</div>

<%- include ../partials/footer.ejs %>